.resume {
    line-height: 1.5;
    & > div {
        margin-bottom: 48px;
    }
    i {
        font-size: 32px;
        margin-right: 16px;
    }
    .resume-activitities {
        list-style: inside;
    }
}