.main {
    border-top: 5px solid var(--blue);
    box-sizing: border-box;
    display: inline-block;
    margin-left: 280px;
    padding: 64px;
    vertical-align: top;
    width: calc(100% - 280px);
    .main-title {
        color: var(--purple);
        font-size: 58px;
        margin: 0 0 100px;
        text-transform: uppercase;
    }
}