.resume{
    .resume-title {
        color: var(--blue);
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        & + ul li {
            margin-bottom: 10px;
            p {
                margin: 0;
            }
        }
    }
}