.sidenav {
    background-color:var(--purple);
    border-top: 5px solid var(--blue);
    box-sizing: border-box;
    color:var(--white);
    display: inline-block;
    font-family: Oswald;
    height: 100vh;
    padding: 64px 32px;
    position: fixed;
    width: 280px;
    .sidenav-name {
        font-size: 58px;
        margin: 0 0 30px;
        text-transform: uppercase;
        &:first-line {
            font-size: 61px;
        }
        
    }
    .sidenav-function {
        color:var(--blue);
        font-size: 20px;    
        font-weight: 200;
        text-transform: uppercase;
    }
    .sidenav-nav {
        font-size: 25px;    
        font-weight: 200;
        margin: 100px -32px 0 -32px;
        text-transform: uppercase;
        a {
            color:var(--blue);
            display: block;
            padding: 16px 35px;
            &:hover {
                animation: swing .8s ease;
                background-color:var(--purpleDark);
                color:var(--white);
                transform-origin: top center;
            }
        }
    }
    .sidenav-footer {
        text-align: center;
    }
    .sidenav-socialMedias {
        font-size: 32px;
        margin-top: 150px;
        li {
            display: inline-block;
            margin: 0 16px;
        }
        a {
            color:var(--white06);
            &:hover {
                color:var(--white);
                animation: gelatine 0.5s;
            }
        }
    }
    .sidenav-address {
        margin-top: 40px;
        span {
            display: block;
            font-size: 18px;    
            font-weight: 200;
            &:first-child {
                margin-bottom: 8px;
            }
        }
    }
}